*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
/pkg/
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# Standard
*~
# Standard Rails project
/tmp/
/log/
/db/*.sqlite3
# SASS CSS generation
/public/stylesheets/.sass-cache/
# Netbeans
/nbproject/
# Sublime Text 2 project
*.sublime-project
*.sublime-workspace
*(copie)*
# RVM
.rvmrc
# VisualRuby
.vr_settings.yaml
# Emacs
*# 
*\# 
\#*
.#*
\#*\#
# Geany
*.geany
# RubyMine
.idea
#RedCar
.redcar
# bin directory should be ignored as created by the rake task.
bin
